/* #board-container {
  width: 40em;
  height: 40em;
  margin: auto;
  background-color: lightblue;
} */
* {
  font-family: 'Orbitron', sans-serif;
}

header {
  height: 10vh;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  background: url(http://pngimg.com/uploads/sea/sea_PNG35.png);
  background-size: 100%;

}

.win {
  width:100%;
  height: 100%;
  background-color: lightgreen;
  font-size: 10em;
  opacity: .5;
  line-height: 700px;
  text-align: center;
  font-weight: bold;
}

.lost {
  width:100%;
  height: 100%;
  background-color: lightcoral;
  font-size: 10em;
  opacity: .5;
  line-height: 700px;
  text-align: center;
  font-weight: bold;
}

.board {
  width: 30em;
  height: 30em;
  margin: auto;
  background-color: lightblue;
}

.board-placeholder {
  width: 30em;
  height: 30em;
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
  height: 10%;
  justify-content: space-evenly;
  width: 100%;
}

.grid {
  width: 10%;
  height: 100%;
  text-align: center;
  line-height: 65px;
  border: 1px solid rgb(56, 177, 252);
}

.grid:hover {
  box-shadow: 0px 0px 5px #888888;
}

.miss {
  background-color: lightgray;
}

.hit {
  background-color: lightcoral;
}

#container {
  display: flex;
  justify-content: space-around;
  height: 90vh;
  width: 100vw;
  background-color: aliceblue;
  align-items: center;
}

#console {
  position: flex;
  width: 20%;
  height: 65%;
  margin: 50px;
  background-color: lightgrey;
  padding: 2%;
}

#container section {
  position: flex;
  align-content: flex-start;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 50%;
  margin-bottom: 5%;
  background-color: lightgrey;
}

#container section p {
  text-align: center;
}

.deployed {
  background-color: lightgreen;
}

#own-board .enemy-hit {
  background-color: lightslategray;
}

textarea {
  resize: none;
}

.start form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  width: 100%;
  font-size: 3em;
  background-color: lightgoldenrodyellow;
}