/* #board-container {
  width: 40em;
  height: 40em;
  margin: auto;
  background-color: lightblue;
} */

.board {
  width: 30em;
  height: 30em;
  margin: auto;
  background-color: lightblue;
}

#board-placeholder {
  width: 30em;
  height: 30em;
  margin: auto;
}

.row {
  display: flex;
  align-items: center;
  height: 10%;
  justify-content: space-evenly;
  width: 100%;
}

.grid {
  width: 10%;
  height: 100%;
  text-align: center;
  line-height: 65px;
  border: 1px solid rgb(56, 177, 252);
}

.grid:hover {
  box-shadow: 0px 0px 5px #888888;
}

.miss {
  background-color: lightgray;
}

.hit {
  background-color: lightcoral;
}

#container {
  display: flex;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
  background-color: aliceblue;
  align-items: center;
}

#container section {
  position: flex;
  align-content: flex-start;
  flex-direction: column;
  overflow: auto;
  width: 20%;
  height: 40%;
  margin: 50px;
  background-color: lightgrey;
}

#container section p {
  text-align: center;
}

.deployed {
  background-color: lightgreen;
}